p{
            text-align: center;
            font-family: georgia;
            font-size: 30px;
            color: black;
            text-shadow: 2px 2px 0 lightgrey;
            margin: 0;
            padding: 0;
            user-select: none;
            margin-top: 100px;

        }

body{
	margin: 0;
	padding: 0;
	background-image: url(http://best-funnycatsanddogs.com/uploads/posts/2015-12/24_irish_setter.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

#sideWindow{
	background-color: white;
	height: 50vh;
	width: 30vh;
	float: left;
	text-align: left;
}